<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>個人成績</title>
</head>
<body>
    <h1>個人成績</h1>
    <h5>今月の総得点：<%= totalPoints %></h5>
    <h5>今月のリエントリー数：<%= totalReEntry %></h5>
    <h5>今月のデス数：<%= totalDeath %></h5>
    <h5>今月の参加日数：<%= participantsNumber %></h5>
    <h5>今月の収支：<%= bps %></h5>
</body>
</html>